---
import Layout from "../layouts/Layout.astro";
import Profiles from '../components/Profiles.svelte';
import Timetable from '../components/Timetable.svelte';
---

<Layout title="Welcome to Astro.">
	<main>
		<Timetable />
		<Profiles />
	</main>
</Layout>
