---
import { Image } from '@astrojs/image';
import { profiles } from '../data/profiles'

---

<section class="my-8 flex space-y-8 flex-col">
  {
    profiles.map(({id, alt, text}) => (
     <article class="flex justify-center w-full flex-wrap lg:flex-nowrap"
      class:list="{[{'lg:flex-row-reverse': index % 2 !== 0}]}">
      <div>
      <Image width={192} height={288} class="lg:max-w-48 h-auto" src={import(`../assets/images/profiles/${id}-192w.jpg`)} alt={alt} />
      </div>
      <p class="flex items-center p-4 lg:p-0" class:list="{[{'lg:ml-6': index % 2 === 0, 'lg:mr-6': index % 2 !== 0}]}">{text}</p>
    </article>
    ))
  }
</section>