---
import { Image } from '@astrojs/image';

import sponsorLogo from '../assets/images/logos/Bergesenstiftelsen-primaerlogo-svart.svg';
---  
  
  <!-- Sponsors -->
  <footer>
    <Image class="mx-auto w-48" width="192" height="136" src={sponsorLogo}
      alt="Sponsor logo Bergesenstiftelsen" />
    <a class="block text-center" href="/assets/poster.pdf" target="_blank">
      <span>plakat fra 2021</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="inline h-5 w-5 mb-0.5" viewBox="0 0 20 20" fill="currentColor">
        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z" />
        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z" />
      </svg>
    </a>
    <p class="text-center text-xs my-4">
      Fotograf
      <a class="text-blue-700" rel="noopener" target="_blank" href="http://www.fotografreinertsen.com/">John Petter
        Reinertsen</a>
    </p>
  </footer>